#main_container {
    display: flex;
    flex-direction: column; /* 세로부터 쌓기 */
    flex-wrap: wrap;        /* 세로 공간 넘치면 다음 열로 */
    height: 80vh;           /* 세로 공간 제한 */
    align-content: flex-start; /* 열들이 왼쪽부터 */
    gap: 20px;
    padding: 20px;
}


/* 부모 세로 정렬 */
.ms1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align:center;
}

/* 이미지 */
.icon {
    width: 2vw;
    cursor: pointer;
    margin-bottom: 8px; /* 버튼과 간격 */
}

/* 버튼 */
.modalBtn {
    font-size: 2%;
    cursor: pointer;
    display: block; 
}


/* 모달 기본 */
.modal {
    display: none; /* 처음엔 숨김 */
    position: fixed;
    right: 0;
    top: 0;
    left: 50;
    width: 100%;
    height: auto;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
    cursor: grab;
}

/* 모달 콘텐츠 */
.modal-content {
    width: 300px;
    border: 2px solid #fff;
    border-bottom: 2px solid #888;
    border-radius: 3px;
    background-color: #c0c0c0;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.5);
    margin: 15% auto;
}

/* 윈도우 헤더 */
.modal-header {
    background: linear-gradient(to bottom, #000080, #0000cd);
    color: white;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    cursor: grab;
}

.modal-header .close {
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.modal-header .close:hover {
    color: rgb(0, 0, 0);
}

.modal-title{
    font-weight: 400;
}

/* 모달 본문 */
.modal-body {
    margin: 10px;
    background-color: #c9cbca;
    line-height: 140%;
}

.modal-body::selection{
    background-color: yellow;
}



button.modalBtn {
    margin-top: 5px;
    background-color: #dcdcdc00;
    border: none;
    cursor:auto;
    font-size: 1.0rem;
    color: #c9cbca;
    display: block;
}

/* 모달 기본 */
.window_header{
    background-color: #000076;
}

.modal {
    display: none; /* 처음에는 안 보이게 */
    position: fixed;
    right: 0;
    top: 0;
    width: 30vw;


    background-color: #c9cbca;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

/* 모달 콘텐츠 */
.modal-content {
    background-color: #c9cbca;
    margin: 0;
    width: 100%;
    height: auto;
    max-height: 100vh;
    overflow-y: auto;
    text-align: left;
}



.close {
    position:absolute;
    border-color: #000;
    box-shadow: 0px 0px 0px 2px #616161 ;
    width: 20px;
    height: 20px;
    background-color: #c9cbca;
    color: rgb(45, 45, 45);
    float: right;
    font-size: 24px;
    font-weight:100;
    cursor: pointer;
    right: 10px;
    text-align: center;
}