* {
    font-family: "Galmuri11";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select:text;
}

/* 화면 전체를 100vh로 잡고, 콘텐츠 + footer flex 배치 */
body, html {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* 세로 배치 */
}

/* main_container는 남은 공간 차지 */
.main_container {
    flex: 1; /* 남은 공간 모두 차지 */
    overflow-y: auto; /* 내용이 많으면 스크롤 가능 */
}


body {
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    overflow:hidden;
    
}

html{
    background-color: #008484;
}

a{
    text-decoration: none;
}

.col1 {width: 16.66%;}
.col2 {width: 33.33%;}
.col3 {width: 50%;}
.col4 {width: 66.66%;}
.col5 {width: 83.32%;}
.col6 {width: 100%;}

.bg_p {
    color: pink;
}

.icon:hover {
    transform: scale(1.05);
}


/* footer 영역 */
.footer-line{
    display: flex;
    position: fixed;
    background-color: #c9cbca;
    width: 100vw;
    height: 4vh;
    bottom: 0;
    z-index: 10;
}


.footer_logo{
    padding: 0px 5px 0px 5px;
    height: 100%;
    left: 0;
    z-index: 20;
    background-color: #c9cbca;
    box-shadow: 0px 2px 2px 2px #616161 ;
}
